// social-swatches = {
//   facebook: #080808,
//   dribbble: #878787,
//   twitter: #444444,
//   sdlfkds: #ddd
// }


// for thing in social-swatches
//   .fa-{thing}
//     color: (social-swatches[thing])