doctype html
html
  head
    title DevPlus III
    link(href="devplus.css")

  body

  
  


    //- include example-section.jade
    //- include example-social.jade
    //- include example-social2.jade
    //- include example-mixin.jade
    //- include example-array.jade