.container{
    padding: 60px;
  }

  h4{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
  }

  .gradient{
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #61c2ff), color-stop(100%, #cd4444));
    background: -webkit-linear-gradient(-45deg, #61c2ff 0%, #cd4444 100%);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .box{
    width: 25%;
    border: 1px solid red;
    display: inline-block;
    position: relative;
  }

  .box:before{
    content: '';
    display: block;
    padding-top: 100%;
  }

  .boxcontent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .boxcontent img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }